{% extends 'flatpages/default.html' %}

{% block content %}
    <h2>Добавить новость</h2>
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if form.non_field_errors %}
    <div class="alert alert-danger">
        {{ form.non_field_errors }}
    </div>
{% endif %}

        <p>{{ form.title.label_tag }}<br>{{ form.title }}</p>
        <p>{{ form.author.label_tag }}<br>{{ form.author }}</p>
        <p>{{ form.category.label_tag }}<br>{{ form.category }}</p>
        <p>{{ form.kind.label_tag }}<br>{{ form.kind }}</p>
        <p>{{ form.content.label_tag }}<br>{{ form.content }}</p>
        <p>{{ form.author_name.label_tag }}<br>{{ form.author_name }}</p>
        <p>{{ form.category_name.label_tag }}<br>{{ form.category_name }}</p>
        <button type="submit" class="btn btn-primary">Добавить новость</button>
    </form>
{% endblock content %}